body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.square {
  border-radius:0px;
}

.jumbotron {
  background-image: linear-gradient(to right, #007bff, #000);
  color: #fff;
}



.anticon svg {
    display: inline-block;
    margin-bottom: 6px;
}

/* .logout {
  margin-left: 800px;
} */
